/* @import url(https://db.onlinewebfonts.com/c/5ebc67ab9ab9e86517c65dd6ac7c85aa?family=Dauphin); */
@font-face {
    font-family:DauphinPlain ;
    src: url(../../Dauphin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',Arial,sans-serif;
}
.container{
    margin-top: 250px;
    text-align: center;
    width: 100%;
}
#languages{
    margin: 20px 15px 5px 15px ;
}
#Languages>a{
    color: black;
    padding: 2px;
    font-size: 14px;
    line-height: 10px;
}
.ltr>a{
    color: black;
}
h1{
    font-family: DauphinPlain;
    font-weight: 400;
    font-size: 70px;
}
.italic{
    margin: 10px 10px 5px 10px;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}
.simple{
    font-size: 12px;
}
hr{
    clear: both;
    border: 0;
    height: 1px;
    margin-left: 12%;
    width: 75%;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.50),rgba(0,0,0,0));
}
.table{
    margin-left: 230px;
    width: 80%;
    border-spacing: 15px;
}
.head{
    font-family: DauphinPlain;
    font-size: 28px;
    text-align: left;
}
.data
{
    text-align: justify;
}