@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    font-family: 'Belanosima', sans-serif;
    overflow-x: hidden;
}
.heading {
    text-align:center;
    color: darkcyan;
}
.details
{
    position: absolute;
    text-align: center;
    margin-top: 0;
    margin-left: 545px;
}
.contianer
{
    margin: 0;
    width:100px;
}